@import "tailwindcss";

@theme {
  --color-gold-50: #fbf7e6;
  --color-gold-100: #f5ecc3;
  --color-gold-200: #ecda92;
  --color-gold-300: #e2c35b;
  --color-gold-400: #dab037;
  --color-gold-500: #cc9926;
  --color-gold-600: #ad781d;
  --color-gold-700: #8b5b1a;
  --color-gold-800: #744a1b;
  --color-gold-900: #623e1b;
}

:root {
  --background: #121212;
  --foreground: #f4f4f4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
